@use "@scss/Globals" as *;
@use "./mixins" as mixins;

/* Level palette aliases */
$nav-l2: $level-2;
$nav-l3: $level-3;
$nav-l4: $level-4;
$nav-l5: $level-5;
$nav-l6: $level-6;
$nav-l7: $level-7;
$nav-l8: $level-8;
$nav-l9: $level-9;

.dropdownButton {
  &.level-2 { @include mixins.nav-level($nav-l2, 1.06rem, 760, 0.20, 0.03, 0.36, 0.06); }
  &.level-3 { @include mixins.nav-level($nav-l3, 1.03rem, 710, 0.16, 0.05, 0.30, 0.07); }

  /* separation bump */
  &.level-4 { @include mixins.nav-level($nav-l4, 0.99rem, 670, 0.13, 0.11, 0.22, 0.09); }
  &.level-5 { @include mixins.nav-level($nav-l5, 0.95rem, 630, 0.11, 0.18, 0.16, 0.11); }

  &.level-6 {
    @include mixins.nav-level($nav-l6, 0.91rem, 600, 0.16, 0.22, 0.13, 0.12);
    opacity: 0.98;
    letter-spacing: 0.10px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  &.level-7 {
    @include mixins.nav-level($nav-l7, 0.88rem, 560, 0.12, 0.25, 0.12, 0.13);
    opacity: 0.95;
    letter-spacing: 0.08px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  &.level-8 {
    @include mixins.nav-level($nav-l8, 0.84rem, 540, 0.10, 0.28, 0.11, 0.14);
    opacity: 0.93;
    letter-spacing: 0.06px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  &.level-9 {
    @include mixins.nav-level($nav-l9, 0.82rem, 520, 0.10, 0.30, 0.10, 0.14);
    opacity: 0.91;
    letter-spacing: 0.05px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  &.level-10,
  &.level-11,
  &.level-12 {
    font-size: 0.80rem;
    font-weight: 510;
    opacity: 0.90;
    letter-spacing: 0.04px;
  }
}